rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /userIcons/{fileName} {
      allow update: if resource.metadata.uid == request.auth.uid;
    } 
  }
}
